<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<% if user_signed_in? %>
  <%= link_to("Cerrar sesión", :destroy_user_session, method: :delete) %>
<% else %>
  <%= link_to("Iniciar sesión", :new_user_session) %>
  <br>
  <%= link_to("Registrarse", :new_user_registration) %>
<% end %>