//TODO: customize
$gray-darker:                           lighten(#000, 20%);
$gray-dark:                             lighten(#000, 33.5%);
$gray:                                  lighten(#000, 60%);
$gray-light:                            lighten(#000, 93.5%);
$gray-lighter:                          lighten(#000, 96.5%);

/*
$brand-primary:                         #ec4562;
$brand-success:                         #5cb85c;
$brand-info:                            #5bc0de;
*/
/*
$font-family-sans-serif:                'Roboto', sans-serif;
$font-family-serif:                     'Roboto Slab', serif;
$font-family-condensed:                 'Roboto Condensed', sans-serif;
$font-family-monospace:                 Menlo, Monaco, Consolas, "Courier New", monospace;
*/
$input-color:                           $gray-dark;
$input-color-placeholder:               $gray;

$navbar-height:                         70px;
$navbar-default-color:                  #777;
$navbar-default-bg:                     #fbfafa;
$navbar-default-link-active-color:      $brand-primary;
$navbar-default-link-active-bg:         #fdfcfc;

$navbar-default-brand-color:            $gray-dark;

$jumbotron-padding:                     160px;
$jumbotron-bg:                          $gray-lighter;

$icon-font-path:                        "";